<div class="change_picture_wrapper">
    <div class="change_picture">
        <ul class="change_picture_list">
            <li class="change_picture_list_img"><img src="images/default_avatar.jpg" width="65" height="65"/></li>
            <li><a href="#" onclick="user.removePhoto();">Remove Current Picture</a></li>
            <li><a href="#">Take Picture</a></li>
            <li><a href="#">Choose From Library</a></li>
        </ul>
    </div>
</div>

<div class="line"></div>

<div class="button gray large_button" onClick="cooper.topbar.clickButton('left');">Cancel</div>
