
<div class="inset news_signup">
   <ul class="list">
      <li style="font-size:13px;">
         <strong style="font-size:15px;">Sign up to access this feature.</strong><br />
         We notify you when there are new reviews, posts, or photos of your business on
Facebook, Google, Yelp, Twitter, and more! Contact your local advisor to get set up.
      </li>
      <li class="item" onclick="user.contactAdvisor()">
          Contact My Advisor <div class="arrow"></div>
      </li>
  </ul>
</div>

<div class="news_list">&nbsp;</div>


