<h1>Message Title</h1>

<div class="inset">
<ul class="list info">
	<li>
    	<div class="label">From</div>
    	Sample User
    </li>
    <li>
    	<div class="label">Message</div>
    	Nullam a purus eu felis aliquet consectetur eu non nibh. Suspendisse feugiat diam eget sapien vehicula ut gravida metus molestie. Nunc non cursus mi. Sed egestas pulvinar laoreet. Morbi fringilla nulla sed lacus vulputate non interdum lacus rhoncus. Praesent venenatis neque quis mi elementum cursus aliquam nunc ultricies.
    </li>
</ul>
</div>
